.delete {
  position: absolute;
  display: block;
  top: 20px;
  right: 20px;
  width: 18px;
  height: 17px;
  font-size: 0;
  border: 0;
  cursor: pointer;

  background-color: transparent;
  background-image: url("cross.svg");
  background-repeat: no-repeat;
  background-size: contain;

  content: "";
}
